<div class="register">
  <mat-card appearance="outlined" class="landing-card">
    <mat-card-content>
      <mat-card-title>
        <h3>{{ "register.register" | translate }}</h3>
      </mat-card-title>
      <form [formGroup]="Form" (ngSubmit)="submit()">
        <div class="form-row">
          <div class="form-field">
            <mat-form-field appearance="fill">
              <mat-label for="fullname">{{
                "register.fullname" | translate
              }}</mat-label>
              <input
                autocomplete="off"
                matInput
                id="fullname"
                type="text"
                formControlName="fullName"
              />
            </mat-form-field>
            <small
              *ngIf="
                Form.get('fullname')?.hasError('required') &&
                Form.get('fullname')?.touched
              "
              >{{ "register.required" | translate }}</small
            >
            <small
              *ngIf="
                Form.get('fullname')?.hasError('maxlength') &&
                Form.get('fullname')?.touched
              "
            >
              {{ "register.fullnameMaxlength" | translate }}
            </small>
          </div>
          <div class="form-field">
            <mat-form-field appearance="fill">
              <mat-label for="mobile">{{
                "register.mobile" | translate
              }}</mat-label>
              <input
                autocomplete="off"
                matInput
                id="mobile"
                type="text"
                formControlName="mobile"
              />
            </mat-form-field>
            <small
              *ngIf="
                Form.get('mobile')?.hasError('required') &&
                Form.get('mobile')?.touched
              "
              >{{ "register.required" | translate }}</small
            >
            <small
              *ngIf="
                Form.get('mobile')?.hasError('pattern') &&
                Form.get('mobile')?.touched
              "
            >
              {{ "register.invalidMobile" | translate }}
            </small>
          </div>
          <div class="form-field">
            <mat-form-field appearance="fill">
              <mat-label for="email">{{
                "register.email" | translate
              }}</mat-label>
              <input
                autocomplete="off"
                matInput
                id="email"
                type="text"
                formControlName="email"
              />
            </mat-form-field>
            <small
              *ngIf="
                Form.get('email')?.hasError('required') &&
                Form.get('email')?.touched
              "
              >{{ "register.required" | translate }}</small
            >
            <small
              *ngIf="
                Form.get('email')?.hasError('email') &&
                Form.get('email')?.touched
              "
            >
              {{ "register.invalidEmail" | translate }}
            </small>
          </div>

          <div *ngIf="this.signup()" class="form-field">
            <mat-form-field appearance="fill">
              <mat-label for="password">{{
                "register.password" | translate
              }}</mat-label>
              <input
                autocomplete="new-password"
                matInput
                id="password"
                formControlName="password"
                [type]="showPassword ? 'text' : 'password'"
              />
              <mat-icon matSuffix (click)="togglePassword()">
                {{ showPassword ? "visibility_off" : "visibility" }}
              </mat-icon>
            </mat-form-field>
            <small
              *ngIf="
                Form.get('password')?.hasError('required') &&
                Form.get('password')?.touched
              "
              >{{ "register.required" | translate }}</small
            >
            <small
              *ngIf="
                Form.get('password')?.hasError('pattern') &&
                Form.get('password')?.touched
              "
            >
              {{ "register.passwordPattern" | translate }}
            </small>
          </div>

          <div class="form-field">
            <mat-form-field appearance="fill">
              <mat-label for="dateOfBirth">{{
                "register.dateOfBirth" | translate
              }}</mat-label>
              <input
                autocomplete="off"
                matInput
                id="dateOfBirth"
                [matDatepicker]="datepicker"
                formControlName="dateOfBirth"
              />
              <mat-datepicker #datepicker />
              <mat-datepicker-toggle [for]="datepicker" matSuffix />
            </mat-form-field>
            <small
              *ngIf="
                Form.get('dateOfBirth')?.hasError('required') &&
                Form.get('dateOfBirth')?.touched
              "
              >{{ "register.required" | translate }}</small
            >
          </div>
          <div class="form-field">
            <mat-form-field appearance="fill">
              <mat-label for="address">{{
                "register.address" | translate
              }}</mat-label>
              <input
                autocomplete="off"
                matInput
                id="address"
                type="text"
                formControlName="address"
              />
            </mat-form-field>
            <small
              *ngIf="
                Form.get('address')?.hasError('required') &&
                Form.get('address')?.touched
              "
              >{{ "register.required" | translate }}</small
            >
          </div>

          <div class="button-row upload-section">
            <input
              autocomplete="off"
              #fileInput
              type="file"
              accept=".jpg, .png, .jpeg"
              (change)="onFileSelected($event)"
              style="display: none"
            />
            <button type="button" mat-raised-button (click)="fileInput.click()">
              {{ "register.image" | translate }}
            </button>
            <img
              *ngIf="this.photoPreviewUrl"
              [src]="photoPreviewUrl"
              alt="Preview"
              width="300"
              style="border-radius: 8px"
            />
          </div>

          <div class="button-row">
            <button
              routerLink="/auth/login"
              routerLinkActive="active"
              type="button"
              mat-raised-button
              *ngIf="signup()"
            >
              {{ "register.haveAccount" | translate }}
            </button>

            <button
              type="submit"
              mat-raised-button
              [disabled]="this.Form.invalid"
            >
              {{ "register.register" | translate }}
              <mat-icon>arrow_forward_ios</mat-icon>
            </button>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
