<div class="landing-container">
  <div>
    <div class="header">
      <h1>TicketEase</h1>
    </div>
    <p class="tagline">Support made simple.</p>
    <div class="icon-center">
      <mat-icon>confirmation_number</mat-icon>
    </div>

    <p class="description">
      Practical & dynamic ticketing system built to streamline the way you
      report and resolve product issues. With TicketEase, you can easily submit
      tickets, track their status in real-time, and communicate seamlessly with
      our dedicated support team to ensure a fast and efficient resolution
      experience.
    </p>

    <div class="actions">
      <button routerLink="/auth/login" mat-raised-button color="primary">
        <mat-icon>login</mat-icon>
        Login
      </button>
      <button routerLink="/auth/signup" mat-raised-button color="accent">
        <mat-icon>person_add</mat-icon>
        Sign Up
      </button>
    </div>
  </div>
</div>
