<div class="login" [ngSwitch]="nextStep()">
  <mat-card *ngSwitchCase="'email'" appearance="outlined" class="landing-card">
    <mat-card-content>
      <mat-card-title><h3>Enter Email</h3></mat-card-title>
      <form [formGroup]="emailForm" (ngSubmit)="submitEmail()">
        <div class="form-row">
          <div class="form-field">
            <mat-form-field appearance="fill">
              <mat-label>{{ "login.email" | translate }}</mat-label>
              <input
                matInput
                autocomplete="off"
                id="email"
                type="text"
                formControlName="email"
              />
            </mat-form-field>
            <small
              *ngIf="
                emailForm.get('email')?.hasError('required') &&
                emailForm.get('email')?.touched
              "
            >
              {{ "login.required" | translate }}
            </small>
          </div>

          <div class="button-row">
            <button
              type="submit"
              mat-raised-button
              [disabled]="emailForm.get('email')?.invalid"
            >
              Get Code
              <mat-icon>arrow_forward_ios</mat-icon>
            </button>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>

  <mat-card *ngSwitchCase="'code'" appearance="outlined">
    <mat-card-content>
      <mat-card-title><h3>Enter Code</h3></mat-card-title>
      <form [formGroup]="emailForm" (ngSubmit)="submitCode()">
        <div class="form-row">
          <div class="form-field">
            <mat-form-field appearance="fill">
              <mat-label>{{ "login.code" | translate }}</mat-label>
              <input
                matInput
                autocomplete="off"
                id="code"
                type="text"
                formControlName="code"
              />
            </mat-form-field>
            <small
              *ngIf="
                emailForm.get('code')?.hasError('required') &&
                emailForm.get('code')?.touched
              "
            >
              {{ "login.required" | translate }}
            </small>
          </div>

          <div class="button-row">
            <button
              type="submit"
              mat-raised-button
              [disabled]="emailForm.get('code')?.invalid"
            >
              Verify Code
              <mat-icon>arrow_forward_ios</mat-icon>
            </button>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>

  <mat-card *ngSwitchCase="'reset'" appearance="outlined">
    <mat-card-content>
      <mat-card-title><h3>Enter New Password</h3></mat-card-title>
      <form [formGroup]="emailForm" (ngSubmit)="submitNew()">
        <div class="form-row">
          <div class="form-field">
            <mat-form-field appearance="fill">
              <mat-label>{{ "login.password" | translate }}</mat-label>
              <input
                matInput
                autocomplete="off"
                id="password"
                [type]="showPassword ? 'text' : 'password'"
                formControlName="password"
              />
              <mat-icon matSuffix (click)="togglePassword()">
                {{ showPassword ? "visibility_off" : "visibility" }}
              </mat-icon>
            </mat-form-field>
            <small
              *ngIf="
                emailForm.get('password')?.hasError('required') &&
                emailForm.get('password')?.touched
              "
            >
              {{ "login.required" | translate }}
            </small>
            <small
              *ngIf="
                emailForm.get('password')?.hasError('required') &&
                emailForm.get('password')?.touched
              "
              >{{ "register.required" | translate }}</small
            >
            <small
              *ngIf="
                emailForm.get('password')?.hasError('pattern') &&
                emailForm.get('password')?.touched
              "
            >
              {{ "register.passwordPattern" | translate }}
            </small>
          </div>

          <div class="button-row">
            <button
              type="submit"
              mat-raised-button
              [disabled]="emailForm.get('password')?.invalid"
            >
              Update Password
              <mat-icon>arrow_forward_ios</mat-icon>
            </button>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
