<div class="login">
  <mat-card appearance="outlined">
    <mat-card-content>
      <mat-card-title>
        <h3>Change Password</h3>
      </mat-card-title>
      <form [formGroup]="Form" (ngSubmit)="submit()">
        <div class="form-row">
          <div class="form-field">
            <mat-form-field appearance="fill">
              <mat-label for="currentPassword">{{
                "login.currentPassword" | translate
              }}</mat-label>
              <input
                matInput
                autocomplete="off"
                id="currentPassword"
                formControlName="currentPassword"
                [type]="showCurrentPassword ? 'text' : 'password'"
              />
              <mat-icon matSuffix (click)="toggleCurrentPassword()">
                {{ showCurrentPassword ? "visibility_off" : "visibility" }}
              </mat-icon>
            </mat-form-field>
            <small
              *ngIf="
                Form.get('currentPassword')?.hasError('required') &&
                Form.get('currentPassword')?.touched
              "
            >
              {{ "login.required" | translate }}
            </small>
          </div>

          <div class="form-field">
            <mat-form-field appearance="outline">
              <mat-label for="newPassword">{{
                "login.newPassword" | translate
              }}</mat-label>
              <input
                autocomplete="off"
                matInput
                id="newPassword"
                formControlName="newPassword"
                [type]="showNewPassword ? 'text' : 'password'"
              />
              <mat-icon matSuffix (click)="toggleNewPassword()">
                {{ showNewPassword ? "visibility_off" : "visibility" }}
              </mat-icon>
            </mat-form-field>
            <small
              *ngIf="
                Form.get('newPassword')?.hasError('required') &&
                Form.get('newPassword')?.touched
              "
            >
              {{ "login.required" | translate }}
            </small>
            <small
              *ngIf="
                Form.get('newPassword')?.hasError('required') &&
                Form.get('newPassword')?.touched
              "
              >{{ "register.required" | translate }}</small
            >
            <small
              *ngIf="
                Form.get('newPassword')?.hasError('pattern') &&
                Form.get('newPassword')?.touched
              "
            >
              {{ "register.passwordPattern" | translate }}
            </small>
          </div>

          <div class="button-row">
            <button
              type="submit"
              mat-raised-button
              [disabled]="this.Form.invalid"
            >
              Change Password
              <mat-icon>arrow_forward_ios</mat-icon>
            </button>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
